<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
      <rect width="500" height="100" fill="#ff0000" stroke="#0000ff" stroke-width="4"/>
    </svg>
    <h3>And another one:</h3>
    <div style="width: 4em; margin: 0 auto;">
    <svg viewBox="0 0 100 100" style="transform: rotate(45deg);">
      <rect width="100" height="100" fill="gold" stroke="#f06" stroke-width="2"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">
      <circle r="50" cx="50" cy="50" fill="#ff0000" stroke="#0000ff" stroke-width="4"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 200 150">
      <g fill="green">
        <rect x="15" y="15" width="100" height="100" fill="#ff0000" stroke="#0000ff" stroke-width="4"/>
        <circle r="25" cx="50" cy="50" stroke="#0000ff" stroke-width="4"/>
      </g>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">
      <path d="M70 110 C 70 140, 110 140, 110 110" stroke="black" fill="transparent"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>And a smiley (containing circles, a group, and a path):</h3>
    <div style="width: 10em; margin: 0 auto;">
      <svg viewBox="0 0 100 100">
        <circle r="50" cx="50" cy="50" fill="#f06"/>
        <g fill="gold">
          <circle r="10" cx="20" cy="30"/>
          <circle r="10" cx="80" cy="30"/>
          <path d="M 30 60 a 5 5 -45 0 0 50 0"/>
        </g>
      </svg>
    </div>
  </div>
</div>
