<h3>Style</h3>

<h4>Text with Style</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <text y="20">Lorem ipsum <tspan fill="#ff0000">dolor</tspan> sit <tspan style="font-weight: bold">amet</tspan>.</text>
    </svg>
    <h3>And more text with style:</h3>
    <svg viewBox="0 0 500 100">
      <text x="10" y="10">I have the <tspan fill="red">heart</tspan> of a <tspan style="font-style: italic">lion</tspan>
      <tspan x="10" y="30">and a lifetime ban from the Toronto zoo.</tspan></text>
    </svg>
  </div>
</div>

<h4>Patterns</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <pattern id="pattern" width="10" height="10" patternUnits="userSpaceOnUse" patternTransform="rotate(45 50 50)">
        <rect width="10" height="10"/>
        <line stroke-width="2px" y2="10"/>
        <animateTransform attributeName="patternTransform" type="translate" by="10" dur="1s" repeatCount="indefinite"/>
      </pattern>
      <rect width="400" height="100" fill="url(#pattern)"/>
    </svg>
    <h3>And more patterns:</h3>
    <div style="width: 20em">
      <svg viewBox="0 0 400 400">
        <pattern id="pattern2" width="40" height="40" patternUnits="userSpaceOnUse" patternTransform="rotate(45 50 50)" fill="gold">
          <rect width="40" height="40"/>
          <circle r="10" cx="20" cy="20" fill="#f06"/>
          <animateTransform attributeName="patternTransform" type="rotate" from="0 180 180" to="360 180 180" dur="10s" repeatCount="indefinite"/>
        </pattern>
        <rect width="400" height="400" fill="url(#pattern2)"/>
      </svg>
    </div>
  </div>
</div>
