<h2>Magnus</h2>
<p>This is Carlsen, Magnus Carlsen. He is quite good at chess. 
  Here is an external link to his <a href="https://en.wikipedia.org/wiki/Magnus_Carlsen">Wikipedia page</a>.</p>
<p>More links, which are not part of the navigation: <a href="#" download>Download</a>, <a href="#" rel="external">Rel-External</a>, and <a href="#" rel="download">another link</a>
  Last, but not least: <a href="/contact" target="_blank">Target: _blank</a>.</p>